<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>headers}}
        <img src="imgs/abhishekimage_old.jpg" alt="">
        {{>footer}}
    </body>
</html>