<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>About Us</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>headers}}
        <img src="imgs\250px-Pikachu_SSBU.png" alt="">
        <p>This application was built as part of andrew meadow course. It uses mapbox.com and darksky.net APIs to get information.</p>
        {{>footer}}
    </body>
</html>