<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>help column of App</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>headers}}
        {{>footer}}
    </body>
</html>